<!DOCTYPE html>
<!--[if IE 7]><html class="ie7" lang="ko"> <![endif]-->
<!--[if lt IE 9]><html class="ie8" lang="ko"> <![endif]-->
<!--[if gte IE 9]>
<!-->
<html lang="ko">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width">
		<title>L &amp;K Logic Korea</title>		
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/sub.css">
		<script src="../js/lib/jquery-1.10.2.min.js"></script>
		<script src="../js/sub.js"></script>
		<!--[if lt IE 9]><script src="../js/lib/html5.js"></script><![endif]-->
	</head>
	<body>
		<header>
			<h1><img src="../images/sub/logo_top.png" alt="웹브로셔 관리자 페이지" /></h1>
		</header>
		<section class="container fix">
			<aside>
				<h2>관리메뉴</h2>
				<dl>
					<dt>|업체 관리</dt>
					<dd><a href="admin_search_company.html">- 업체 조회</a></dd>
					<dd><a href="admin_issue_password.html">- 패스워드 발급</a></dd>
				</dl>
				<dl>
					<dt>|콘텐츠 관리</dt>
					<dd><a href="admin_lnk_new.html">- L&amp;K 소식</a></dd>
					<dd><a href="admin_product_introduce.html" class="on">- 제품소개</a></dd>
				</dl>
			</aside>
			<div class="workArea">
				<h3><span>|</span>제품소개 등록</h3>
				<div class="createProduct">
					<fieldset>
						<dl class="fix">
							<dt>게임구분</dt>
							<dd class="gameType">
								<label><input type="radio" name="game" />온라인</label>
								<label><input type="radio" name="game" />모바일</label>
							</dd>
						</dl>
						<dl class="fix">
							<dt>게시여부</dt>
							<dd>
								<label><input type="radio" name="publish" checked="checked" />미게시</label>
								<label><input type="radio" name="publish" />게시</label>
							</dd>
						</dl>
						<dl class="fix">
							<dt>제품명</dt>
							<dd><input type="text" class="txt title" maxlength="50" /></dd>
						</dl>
						<dl class="fix">
							<dt>제품소개</dt>
							<dd><textarea class="allTxt" maxlength="150"></textarea></dd>
						</dl>
						<dl class="fix">
							<dt>썸네일</dt>
							<dd>
								<input type="text" class="thumb thumbNail" />
								<a href="#" class="btn find">찾아보기</a>
								<a href="#" class="btn upload">UPLOAD</a>
							</dd>
						</dl>
						<dl class="multi fix">
							<dt>멀티미디어</dt>
							<dd class="only">
								<input type="text" class="thumb" title="스크린샷 업로드 또는 유투브 url 직접 입력" />
								<a href="#" class="btn find">찾아보기</a>
								<a href="#" class="btn upload">UPLOAD</a>
								<span>스크린샷 업로드 또는 유투브 url 직접 입력</span>
							</dd>
							<dd class="thumbArea">
								<img src="../images/sub/thumb_sample.jpg" alt="썸네일 이미지" />
							</dd>
							<!-- 두번 째 입력항목부터 class 추가 -->
							<dd class="multiple">
								<input type="text" class="thumb" title="스크린샷 업로드 또는 유투브 url 직접 입력" />
								<a href="#" class="btn find">찾아보기</a>
								<a href="#" class="btn upload">UPLOAD</a>
								<span>스크린샷 업로드 또는 유투브 url 직접 입력</span>
							</dd>
							<dd class="multiple">
								<input type="text" class="thumb" title="스크린샷 업로드 또는 유투브 url 직접 입력" />
								<a href="#" class="btn find">찾아보기</a>
								<a href="#" class="btn upload">UPLOAD</a>
								<span>스크린샷 업로드 또는 유투브 url 직접 입력</span>
							</dd>
							<dd class="multiple">
								<input type="text" class="thumb" title="스크린샷 업로드 또는 유투브 url 직접 입력" />
								<a href="#" class="btn find">찾아보기</a>
								<a href="#" class="btn upload">UPLOAD</a>
								<span>스크린샷 업로드 또는 유투브 url 직접 입력</span>
							</dd>
							<dd class="multiple">
								<input type="text" class="thumb" title="스크린샷 업로드 또는 유투브 url 직접 입력" />
								<a href="#" class="btn find">찾아보기</a>
								<a href="#" class="btn upload">UPLOAD</a>
								<span>스크린샷 업로드 또는 유투브 url 직접 입력</span>
							</dd>
							<dd class="multiple">
								<input type="text" class="thumb" title="스크린샷 업로드 또는 유투브 url 직접 입력" />
								<a href="#" class="btn find">찾아보기</a>
								<a href="#" class="btn upload">UPLOAD</a>
								<span>스크린샷 업로드 또는 유투브 url 직접 입력</span>
							</dd>
							<!-- //두번 째 입력항목부터 class 추가 -->
						</dl>
						<dl class="fix">
							<dt>제품소개서<br />다운로드</dt>
							<dd class="guide_1">
								<input type="text" class="txt" title="URL 입력" />
								<span class="url">URL 입력</span>
							</dd>
						</dl>
						<dl class="fix">
							<dt>게임가이드<br />다운로드</dt>
							<dd class="guide_2">
								<input type="text" class="txt" title="URL 입력" />
								<span class="url">URL 입력</span>
							</dd>
						</dl>
						<dl class="fix">
							<dt>클라이언트<br />다운로드</dt>
							<dd class="client">
								<input type="text" class="txt" title="URL 입력" />
								<span class="url">URL 입력</span>
							</dd>
						</dl>
						<div class="btnArea">
							<input type="button" value="등록" class="regist" />
							<a href="#" class="cancel">취소</a>
						</div>
					</fieldset>
				</div>
			</div>
		</section>
	</body>
</html>