<!DOCTYPE html>
<!--[if IE 7]><html class="ie7" lang="ko"> <![endif]-->
<!--[if lt IE 9]><html class="ie8" lang="ko"> <![endif]-->
<!--[if gte IE 9]>
<!-->
<html lang="ko">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width">
		<title>L &amp;K Logic Korea</title>		
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/sub.css">
		<script src="../js/lib/jquery-1.10.2.min.js"></script>
		<script src="../js/sub.js"></script>
		<!--[if lt IE 9]><script src="../js/lib/html5.js"></script><![endif]-->
	</head>
	<body>
		<header>
			<h1><img src="../images/sub/logo_top.png" alt="웹브로셔 관리자 페이지" /></h1>
		</header>
		<section class="container fix">
			<aside>
				<h2>관리메뉴</h2>
				<dl>
					<dt>|업체 관리</dt>
					<dd><a href="admin_search_company.html">- 업체 조회</a></dd>
					<dd><a href="admin_issue_password.html" class="on">- 패스워드 발급</a></dd>
				</dl>
				<dl>
					<dt>|콘텐츠 관리</dt>
					<dd><a href="admin_lnk_new.html">- L&amp;K 소식</a></dd>
					<dd><a href="admin_product_introduce.html">- 제품소개</a></dd>
				</dl>
			</aside>
			<div class="workArea">
				<h3><span>|</span>패스워드 발급</h3>
				<div class="newPassWord">
					<table>
						<colgroup>
							<col width="113" />
							<col width="158" />
							<col width="208" />
							<col width="162" />
							<col width="172" />
						</colgroup>
						<thead>
							<tr>
								<th>업체 명</th>
								<th>담당자 명</th>
								<th>이메일</th>
								<th>연락처</th>
								<th>처리</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Game on</td>
								<td>Teddy yang</td>
								<td>teddy@logickorea.co.kr</td>
								<td>82 10 6542 5555</td>
								<td>
									<input type="submit" value="신규"  class="btn newIssue" />
									<input type="submit" value="재요청" class="btn reIssue" />
								</td>
							</tr>
							<tr>
								<th colspan="5">제목표시</th>
							</tr>
							<tr>
								<td class="issueLog" colspan="5">내용표시</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="newPassWord">
					<table>
						<colgroup>
							<col width="113" />
							<col width="158" />
							<col width="208" />
							<col width="162" />
							<col width="172" />
						</colgroup>
						<thead>
							<tr>
								<th>업체 명</th>
								<th>담당자 명</th>
								<th>이메일</th>
								<th>연락처</th>
								<th>처리</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Game on</td>
								<td>Teddy yang</td>
								<td>teddy@logickorea.co.kr</td>
								<td>82 10 6542 5555</td>
								<td>
									<input type="submit" value="신규" class="btn newIssue" />
									<input type="submit" value="재요청" class="btn reIssue" />
								</td>
							</tr>
							<tr>
								<th colspan="5">제목표시</th>
							</tr>
							<tr>
								<td class="issueLog" colspan="5">내용표시</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="newPassWord">
					<table>
						<colgroup>
							<col width="113" />
							<col width="158" />
							<col width="208" />
							<col width="162" />
							<col width="172" />
						</colgroup>
						<thead>
							<tr>
								<th>업체 명</th>
								<th>담당자 명</th>
								<th>이메일</th>
								<th>연락처</th>
								<th>처리</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Game on</td>
								<td>Teddy yang</td>
								<td>teddy@logickorea.co.kr</td>
								<td>82 10 6542 5555</td>
								<td>
									<input type="submit" value="신규" class="btn newIssue" />
									<input type="submit" value="재요청" class="btn reIssue" />
								</td>
							</tr>
							<tr>
								<th colspan="5">제목표시</th>
							</tr>
							<tr>
								<td class="issueLog" colspan="5">내용표시</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="newPassWord">
					<table>
						<colgroup>
							<col width="113" />
							<col width="158" />
							<col width="208" />
							<col width="162" />
							<col width="172" />
						</colgroup>
						<thead>
							<tr>
								<th>업체 명</th>
								<th>담당자 명</th>
								<th>이메일</th>
								<th>연락처</th>
								<th>처리</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Game on</td>
								<td>Teddy yang</td>
								<td>teddy@logickorea.co.kr</td>
								<td>82 10 6542 5555</td>
								<td>
									<input type="submit" value="신규" class="btn newIssue" />
									<input type="submit" value="재요청" class="btn reIssue" />
								</td>
							</tr>
							<tr>
								<th colspan="5">제목표시</th>
							</tr>
							<tr>
								<td class="issueLog" colspan="5">내용표시</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="newPassWord">
					<table>
						<colgroup>
							<col width="113" />
							<col width="158" />
							<col width="208" />
							<col width="162" />
							<col width="172" />
						</colgroup>
						<thead>
							<tr>
								<th>업체 명</th>
								<th>담당자 명</th>
								<th>이메일</th>
								<th>연락처</th>
								<th>처리</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Game on</td>
								<td>Teddy yang</td>
								<td>teddy@logickorea.co.kr</td>
								<td>82 10 6542 5555</td>
								<td>
									<input type="submit" value="신규" class="btn newIssue" />
									<input type="submit" value="재요청" class="btn reIssue" />
								</td>
							</tr>
							<tr>
								<th colspan="5">제목표시</th>
							</tr>
							<tr>
								<td class="issueLog" colspan="5">내용표시</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="newPassWord">
					<table>
						<colgroup>
							<col width="113" />
							<col width="158" />
							<col width="208" />
							<col width="162" />
							<col width="172" />
						</colgroup>
						<thead>
							<tr>
								<th>업체 명</th>
								<th>담당자 명</th>
								<th>이메일</th>
								<th>연락처</th>
								<th>처리</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Game on</td>
								<td>Teddy yang</td>
								<td>teddy@logickorea.co.kr</td>
								<td>82 10 6542 5555</td>
								<td>
									<input type="submit" value="신규" class="btn newIssue" />
									<input type="submit" value="재요청" class="btn reIssue" />
								</td>
							</tr>
							<tr>
								<th colspan="5">제목표시</th>
							</tr>
							<tr>
								<td class="issueLog" colspan="5">내용표시</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</body>
</html>