<!DOCTYPE html>
<!--[if IE 7]><html class="ie7" lang="ko"> <![endif]-->
<!--[if lt IE 9]><html class="ie8" lang="ko"> <![endif]-->
<!--[if gte IE 9]>
<!-->
<html lang="ko">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width">
		<title>L &amp;K Logic Korea</title>		
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/sub.css">
		<script src="../js/lib/jquery-1.10.2.min.js"></script>
		<script src="../js/sub.js"></script>
		<!--[if lt IE 9]><script src="../js/lib/html5.js"></script><![endif]-->
	</head>
	<body>
		<header>
			<h1><img src="../images/sub/logo_top.png" alt="웹브로셔 관리자 페이지" /></h1>
		</header>
		<section class="container fix">
			<aside>
				<h2>관리메뉴</h2>
				<dl>
					<dt>|업체 관리</dt>
					<dd><a href="#">- 업체 조회</a></dd>
					<dd><a href="#">- 패스워드 발급</a></dd>
				</dl>
				<dl>
					<dt>|콘텐츠 관리</dt>
					<dd><a href="#" class="on">- L&amp;K 소식</a></dd>
					<dd><a href="#">- 제품소개</a></dd>
				</dl>
			</aside>
			<div class="workArea">
				<h3><span>|</span>L&amp;K 소식<em>L&amp;K 소식은 최대 5개까지 게시 가능합니다.</em></h3>
				<div class="news">
					<table>
						<colgroup>
							<col width="436" />
							<col width="133" />
							<col width="137" />
							<col width="108" />
						</colgroup>
						<thead>
							<tr>
								<th>제목</th>
								<th>작성자</th>
								<th>작성일</th>
								<th>조회수</th>
							</tr>
						</thead>
						<tbody>
							<tr class="running">
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr class="running">
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr class="running">
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr class="running">
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr class="running">
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
						</tbody>
					</table>
					<div class="btnArea">
						<a href="#" class="regist">등록</a>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>