<!DOCTYPE html>
<!--[if IE 7]><html class="ie7" lang="ko"> <![endif]-->
<!--[if lt IE 9]><html class="ie8" lang="ko"> <![endif]-->
<!--[if gte IE 9]>
<!-->
<html lang="ko">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width">
		<title>L &amp;K Logic Korea</title>		
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/sub.css">
		<script src="../js/lib/jquery-1.10.2.min.js"></script>
		<script src="../js/sub.js"></script>
		<!--[if lt IE 9]><script src="../js/lib/html5.js"></script><![endif]-->
	</head>
	<body>
		<header>
			<h1><img src="../images/sub/logo_top.png" alt="웹브로셔 관리자 페이지" /></h1>
		</header>
		<section class="container fix">
			<aside>
				<h2>관리메뉴</h2>
				<dl>
					<dt>|업체 관리</dt>
					<dd><a href="admin_search_company.html">- 업체 조회</a></dd>
					<dd><a href="admin_issue_password.html">- 패스워드 발급</a></dd>
				</dl>
				<dl>
					<dt>|콘텐츠 관리</dt>
					<dd><a href="admin_lnk_new.html" class="on">- L&amp;K 소식</a></dd>
					<dd><a href="admin_product_introduce.html">- 제품소개</a></dd>
				</dl>
			</aside>
			<div class="workArea">
				<h3><span>|</span>L&amp;K 소식 수정</h3>
				<div class="createNews">
					<fieldset>
						<dl class="fix">
							<dt>게시여부</dt>
							<dd class="pub">
								<label><input type="radio" name="publish" />미게시</label>
								<label><input type="radio" name="publish" />게시</label>
							</dd>
						</dl>
						<dl class="fix">
							<dt>제목</dt>
							<dd><input type="text" class="txt title" maxlength="50" /></dd>
						</dl>
						<dl class="fix">
							<dt>전문</dt>
							<dd><textarea class="allTxtNews" maxlength="200"></textarea></dd>
						</dl>
						<dl class="fix">
							<dt>썸네일</dt>
							<dd>
								<input type="text" class="thumb" />
								<a href="#" class="btn find">찾아보기</a>
								<a href="#" class="btn upload">UPLOAD</a>
							</dd>
							<dd class="thumbArea">
								<img src="../images/sub/thumb_sample.jpg" alt="썸네일 이미지" />
							</dd>
						</dl>
						<dl class="editor fix">
							<dt>에디터</dt>
							<dd>
								<!-- 여기에 에디터 넣기 -->
								<img src="../images/sample/img_editor_sample.jpg" alt="" /><!-- 가라이미지 -->
								<!-- //여기에 에디터 넣기 -->
							</dd>
						</dl>
						<div class="btnArea">
							<input type="button" value="수정" class="modify" />
							<a href="#" class="cancel">취소</a>
						</div>
					</fieldset>
				</div>
			</div>
		</section>
	</body>
</html>