<!DOCTYPE html>
<!--[if IE 7]><html class="ie7" lang="ko"> <![endif]-->
<!--[if lt IE 9]><html class="ie8" lang="ko"> <![endif]-->
<!--[if gte IE 9]>
<!-->
<html lang="ko">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width">
		<title>L &amp;K Logic Korea</title>		
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/sub.css">
		<script src="../js/lib/jquery-1.10.2.min.js"></script>
		<script src="../js/sub.js"></script>
		<!--[if lt IE 9]><script src="../js/lib/html5.js"></script><![endif]-->
	</head>
	<body>
		<header>
			<h1><img src="../images/sub/logo_top.png" alt="웹브로셔 관리자 페이지" /></h1>
		</header>
		<section class="container fix">
			<aside>
				<h2>관리메뉴</h2>
				<dl>
					<dt>|업체 관리</dt>
					<dd><a href="admin_search_company.html">- 업체 조회</a></dd>
					<dd><a href="admin_issue_password.html">- 패스워드 발급</a></dd>
				</dl>
				<dl>
					<dt>|콘텐츠 관리</dt>
					<dd><a href="admin_lnk_new.html">- L&amp;K 소식</a></dd>
					<dd><a href="admin_product_introduce.html" class="on">- 제품소개</a></dd>
				</dl>
			</aside>
			<div class="workArea">
				<h3><span>|</span>제품소개</h3>
				<div class="news">
					<table class="productSort">
						<colgroup>
							<col width="54" />
							<col width="413" />
							<col width="138" />
							<col width="122" />
							<col width="86" />
						</colgroup>
						<thead>
							<tr>
								<th>No.</th>
								<th>제목</th>
								<th>작성자</th>
								<th>작성일</th>
								<th>조회수</th>
							</tr>
						</thead>
						<tbody>
							<tr class="running">
								<td class="num"><input type="text" class="orderNum" /></td>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr class="running">
								<td class="num"><input type="text" class="orderNum" /></td>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr class="running">
								<td class="num"><input type="text" class="orderNum" /></td>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr class="running">
								<td class="num"><input type="text" class="orderNum" /></td>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr class="running">
								<td class="num"><input type="text" class="orderNum" /></td>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr>
								<td class="num"><input type="text" class="orderNum" /></td>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr>
								<td class="num"><input type="text" class="orderNum" /></td>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr>
								<td class="num"><input type="text" class="orderNum" /></td>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr>
								<td class="num"><input type="text" class="orderNum" /></td>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr>
								<td class="num"><input type="text" class="orderNum" /></td>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
							<tr>
								<td class="num"><input type="text" class="orderNum" /></td>
								<td><a href="#">글제목</a></td>
								<td>정PM</td>
								<td>2013.10.17</td>
								<td>0000</td>
							</tr>
						</tbody>
					</table>
					<div class="btnArea">
						<a href="#" class="sort">정렬</a>
						<a href="#" class="regist">등록</a>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>