<!DOCTYPE html>
<!--[if IE 7]><html class="ie7" lang="ko"> <![endif]-->
<!--[if lt IE 9]><html class="ie8" lang="ko"> <![endif]-->
<!--[if gte IE 9]>
<!-->
<html lang="ko">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width">
		<title>L &amp;K Logic Korea</title>		
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/login.css">
		<script src="../js/lib/jquery-1.10.2.min.js"></script>
		<script src="../js/login.js"></script>
		<!--[if lt IE 9]><script src="../js/lib/html5.js"></script><![endif]-->
	</head>
	<body>
		<div class="wrapper">
			<h1><img src="../images/login/bg_logo.png" alt="웹 브로셔 관리자 페이지" /></h1>
			<div class="loginPanel">
				<h2><img src="../images/login/txt_login.jpg" alt="관리자 페이지 로그인" /></h2>
				<form>
					<fieldset>
						<input type="text" class="txt id" />
						<input type="password" class="txt pw" />
						<input type="image" src="../images/login/btn_login.gif" alt="LOG-IN" class="btn" />
					</fieldset>
				</form>
			</div>
		</div>
	</body>
</html>