@charset "utf-8";

table{border-collapse:collapse;border-spacing:0;}
/*base*/
body{font-family:"맑은 고딕";background:url('bg.png') repeat;}

/* float clear */
.fix{zoom:1;}.fix:after{content:".";display:block;font-size:0;height:0;line-height:0;clear:both;}

.wrapper {width:95%;height:95%;margin:5% auto 0;padding:2%;background:#fff;}
.transTip {position:absolute;top:170px;left:107px;display:block;border:2px dotted #f60;background:#0099ff;padding:5px;visibility:hidden;}
.transTip a {display:block;color:#fff;}

.overlayWrap {display:none;position:absolute;top:7%;left:0;width:100%;height:95%;background:transparent;}
.overlay {width:95%;height:95%;margin:0 auto;background:rgba(0,0,0,0.4);z-index:999;}
.overlay .cls {color:#fff;float:right;}
.overlay .frame {z-index:1000;height:100%;}

table {border:1px solid #000;}
table th {border:1px solid #000;padding:10px 0;}
table td {border:1px solid #000;padding:10px 5px;}