@charset "utf-8";

table{border-collapse:collapse;border-spacing:0;}
/*base*/
body{font-family:"맑은 고딕";background:url('bg.png') repeat;}

/* float clear */
.fix{zoom:1;}.fix:after{content:".";display:block;font-size:0;height:0;line-height:0;clear:both;}

